<div class="col-10 offset-1">
<h1>About Website</h1>

<p>
  This website was built by <a target="_blank" href="https://github.com/cleboeufwhs">Cole LeBoeuf</a> who has just begun learning web devolopment and has created his first website themed after the sitcom "The Office."
</p>
<br />
<p>
  I have just begun my journey to become a web devoloper and am loving it. I hope to have many accomplishments to put here one day.
</p>
<p>
  If you want to learn how to start coding, start at <a target="_blank" href="https://online.bootcampspot.com"> and begin your journey</a>

<div class="row">
  <div class="col-12 col-sm-4">
    <%= image_tag 'cole.jpg', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Cole LeBoeuf</h2>
    <br />
    <p>
      Cole LeBoeuf is an employee at UPS currently but looking to learn some new skills and begin a new career in programming.
    </p>
  </div>
  <br class="clear" />


</div>